In [10]:
import pandas as pd

# Path: processamento_dados.ipynb
# Ler arquivo formato xlsx
df1 = pd.read_excel('Dataset_IADE_Orders_21_23.xlsx')
df2 = pd.read_excel('Dataset_IADE_Orders19_20.xlsx')
df_produtos = pd.read_excel('Dataset_IADE_Products.xlsx')

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,City,State,Country,Postal Code,Market,Region,Product ID,Quantity,Discount,Profit,Shipping Cost,Order Priority
0,1,MX-2023-143658,2023-08-01,2023-08-05,Standard Class,SC-20575,Sonia Cooley,Consumer,Mexico City,Distrito Federal,Mexico,NaN,LATAM,North,OFF-LA-10002782,3,0.0,4.56,1.033,Medium
1,2,MX-2021-155047,2021-08-14,2021-08-19,Standard Class,KW-16570,Kelly Williams,Consumer,Dos Quebradas,Risaralda,Colombia,NaN,LATAM,South,FUR-FU-10004015,8,0.0,90.72,13.449,Medium
2,3,MX-2021-155047,2021-08-14,2021-08-19,Standard Class,KW-16570,Kelly Williams,Consumer,Dos Quebradas,Risaralda,Colombia,NaN,LATAM,South,FUR-BO-10002352,2,0.0,54.08,9.627,Medium
3,4,MX-2021-155047,2021-08-14,2021-08-19,Standard Class,KW-16570,Kelly Williams,Consumer,Dos Quebradas,Risaralda,Colombia,NaN,LATAM,South,OFF-BI-10004428,4,0.0,4.96,1.371,Medium
4,5,MX-2021-155047,2021-08-14,2021-08-19,Standard Class,KW-16570,Kelly Williams,Consumer,Dos Quebradas,Risaralda,Colombia,NaN,LATAM,South,OFF-AR-10004594,2,0.0,11.44,3.787,Medium

In [11]:
#Juntar os dados das encomendas numa s√≥ tabela
df = pd.concat([df1, df2], ignore_index=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51290 entries, 0 to 51289
Data columns (total 20 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Row ID          51290 non-null  int64
 1   Order ID        51290 non-null  object
 2   Order Date      51290 non-null  datetime64[ns]
 3   Ship Date       51290 non-null  datetime64[ns]
 4   Ship Mode       51290 non-null  object
 5   Customer ID     51290 non-null  object
 6   Customer Name   51281 non-null  object
 7   Segment         51290 non-null  object
 8   City            51290 non-null  object
 9   State           51290 non-null  object
 10  Country         51290 non-null  object
 11  Postal Code     9994 non-null   float64
 12  Market          51290 non-null  object
 13  Region          51290 non-null  object
 14  Product ID      51290 non-null  object
 15  Quantity        51290 non-null  int64
 16  Discount        51290 non-null  float64
 17  Profit          51290 non-null  float64
 18  Shipping Cost   51290 non-null  float64
 19  Order Priority  51285 non-null  object
dtypes: datetime64[ns](2), float64(4), int64(2), object(12)
memory usage: 7.8+ MB

In [12]:
#intendificar colunas com dados nulos ou faltantes
df.isnull().sum()

Row ID                0
Order ID              0
Order Date            0
Ship Date             0
Ship Mode             0
Customer ID           0
Customer Name         9
Segment               0
City                  0
State                 0
Country               0
Postal Code       41296
Market                0
Region                0
Product ID            0
Quantity              0
Discount              0
Profit                0
Shipping Cost         0
Order Priority        5
dtype: int64

In [18]:
#apagar linhas com dados nulos
df = df.dropna()
df.isnull().sum()

Row ID            0
Order ID          0
Order Date        0
Ship Date         0
Ship Mode         0
Customer ID       0
Customer Name     0
Segment           0
City              0
State             0
Country           0
Market            0
Region            0
Product ID        0
Quantity          0
Discount          0
Profit            0
Shipping Cost     0
Order Priority    0
dtype: int64

In [43]:
#Na coluna Market, subistitua o valor atual para 'Iberian' para paises de Portugal e Spain.
df.loc[df['Country'].isin(['Portugal', 'Spain']), 'Market'] = 'Iberian'

#mostrar dados com Market = Iberian
df[df['Market'] == 'Iberian']

In [58]:
df.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,City,State,Country,Market,Region,Product ID,Quantity,Discount,Profit,Shipping Cost,Order Priority
0,1,MX-2023-143658,2023-08-01,2023-08-05,Standard Class,SC-20575,Sonia Cooley,Consumer,Mexico City,Distrito Federal,Mexico,LATAM,North,OFF-LA-10002782,3,0.0,4.56,1.033,Medium
1,2,MX-2021-155047,2021-08-14,2021-08-19,Standard Class,KW-16570,Kelly Williams,Consumer,Dos Quebradas,Risaralda,Colombia,LATAM,South,FUR-FU-10004015,8,0.0,90.72,13.449,Medium
2,3,MX-2021-155047,2021-08-14,2021-08-19,Standard Class,KW-16570,Kelly Williams,Consumer,Dos Quebradas,Risaralda,Colombia,LATAM,South,FUR-BO-10002352,2,0.0,54.08,9.627,Medium
3,4,MX-2021-155047,2021-08-14,2021-08-19,Standard Class,KW-16570,Kelly Williams,Consumer,Dos Quebradas,Risaralda,Colombia,LATAM,South,OFF-BI-10004428,4,0.0,4.96,1.371,Medium
4,5,MX-2021-155047,2021-08-14,2021-08-19,Standard Class,KW-16570,Kelly Williams,Consumer,Dos Quebradas,Risaralda,Colombia,LATAM,South,OFF-AR-10004594,2,0.0,11.44,3.787,Medium

In [53]:
df_produtos.head()

,Product ID,Category,Sub-Category,Product Name,UnitPrice
0,FUR-ADV-10000002,Furniture,Furnishings,"Advantus Photo Frame, Duo Pack",53.04
1,FUR-ADV-10000108,Furniture,Furnishings,"Advantus Clock, Erganomic",50.01
2,FUR-ADV-10000183,Furniture,Furnishings,"Advantus Photo Frame, Black",52.98
3,FUR-ADV-10000188,Furniture,Furnishings,"Advantus Stacking Tray, Erganomic",24.99
4,FUR-ADV-10000190,Furniture,Furnishings,"Advantus Frame, Duo Pack",111.18