In [22]:
import pandas as pd

# Path: processamento_dados.ipynb
# Ler arquivo formato xlsx
df1 = pd.read_excel('Dataset_IADE_Orders_21_23.xlsx')
df2 = pd.read_excel('Dataset_IADE_Orders19_20.xlsx')
df_produtos = pd.read_excel('Dataset_IADE_Products.xlsx')

In [23]:
#Juntar os dados das encomendas numa s√≥ tabela
df = pd.concat([df1, df2], ignore_index=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51290 entries, 0 to 51289
Data columns (total 20 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Row ID          51290 non-null  int64
 1   Order ID        51290 non-null  object
 2   Order Date      51290 non-null  datetime64[ns]
 3   Ship Date       51290 non-null  datetime64[ns]
 4   Ship Mode       51290 non-null  object
 5   Customer ID     51290 non-null  object
 6   Customer Name   51281 non-null  object
 7   Segment         51290 non-null  object
 8   City            51290 non-null  object
 9   State           51290 non-null  object
 10  Country         51290 non-null  object
 11  Postal Code     9994 non-null   float64
 12  Market          51290 non-null  object
 13  Region          51290 non-null  object
 14  Product ID      51290 non-null  object
 15  Quantity        51290 non-null  int64
 16  Discount        51290 non-null  float64
 17  Profit          51290 non-null  float64
 18  Shipping Cost   51290 non-null  float64
 19  Order Priority  51285 non-null  object
dtypes: datetime64[ns](2), float64(4), int64(2), object(12)
memory usage: 7.8+ MB

In [24]:
#intendificar colunas com dados nulos ou faltantes
df.isnull().sum()

Row ID                0
Order ID              0
Order Date            0
Ship Date             0
Ship Mode             0
Customer ID           0
Customer Name         9
Segment               0
City                  0
State                 0
Country               0
Postal Code       41296
Market                0
Region                0
Product ID            0
Quantity              0
Discount              0
Profit                0
Shipping Cost         0
Order Priority        5
dtype: int64

In [25]:
#apagar linhas com dados nulos
df = df.dropna()
df.isnull().sum()

Row ID            0
Order ID          0
Order Date        0
Ship Date         0
Ship Mode         0
Customer ID       0
Customer Name     0
Segment           0
City              0
State             0
Country           0
Postal Code       0
Market            0
Region            0
Product ID        0
Quantity          0
Discount          0
Profit            0
Shipping Cost     0
Order Priority    0
dtype: int64

In [26]:
#Na coluna Market, subistitua o valor atual para 'Iberian' para paises de Portugal e Spain.
df.loc[df['Country'].isin(['Portugal', 'Spain']), 'Market'] = 'Iberian'

#mostrar dados com Market = Iberian
df[df['Market'] == 'Iberian']

Empty DataFrame
Columns: [Row ID, Order ID, Order Date, Ship Date, Ship Mode, Customer ID, Customer Name, Segment, City, State, Country, Postal Code, Market, Region, Product ID, Quantity, Discount, Profit, Shipping Cost, Order Priority]
Index: []

In [27]:
df.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,City,State,Country,Postal Code,Market,Region,Product ID,Quantity,Discount,Profit,Shipping Cost,Order Priority
25337,31297,CA-2022-152156,2022-09-08,2022-09-11,Second Class,CG-12520,Claire Gute,Consumer,Henderson,Kentucky,United States,42420.0,US,South,FUR-BO-10001798,2,0.00,41.9136,54.10,Critical
25338,31298,CA-2022-152156,2022-09-08,2022-09-11,Second Class,CG-12520,Claire Gute,Consumer,Henderson,Kentucky,United States,42420.0,US,South,FUR-CH-10000454,3,0.00,219.5820,161.71,Critical
25339,31299,CA-2022-138688,2022-04-12,2022-04-16,Second Class,DV-13045,Darrin Van Huff,Corporate,Los Angeles,California,United States,90036.0,US,West,OFF-LA-10000240,2,0.00,6.8714,1.47,High
25340,31300,US-2021-108966,2021-08-10,2021-08-17,Standard Class,SO-20335,Sean O'Donnell,Consumer,Fort Lauderdale,Florida,United States,33311.0,US,South,-TA-10000577,5,0.45,-383.0310,79.69,Low
25341,31301,US-2021-108966,2021-08-10,2021-08-17,Standard Class,SO-20335,Sean O'Donnell,Consumer,Fort Lauderdale,Florida,United States,33311.0,US,South,OFF-ST-10000760,2,0.20,2.5164,2.83,Low

In [28]:
df_produtos.head()

,Product ID,Category,Sub-Category,Product Name,UnitPrice
0,FUR-ADV-10000002,Furniture,Furnishings,"Advantus Photo Frame, Duo Pack",53.04
1,FUR-ADV-10000108,Furniture,Furnishings,"Advantus Clock, Erganomic",50.01
2,FUR-ADV-10000183,Furniture,Furnishings,"Advantus Photo Frame, Black",52.98
3,FUR-ADV-10000188,Furniture,Furnishings,"Advantus Stacking Tray, Erganomic",24.99
4,FUR-ADV-10000190,Furniture,Furnishings,"Advantus Frame, Duo Pack",111.18

In [29]:
#verificar nulls em df_produtos
df_produtos.isnull().sum()

Product ID        0
Category        366
Sub-Category      0
Product Name      0
UnitPrice         0
dtype: int64

In [30]:
df_produtos.loc[(df_produtos['Sub-Category'] == 'Tables') & (df_produtos['Category'].isnull()), 'Category'] = 'Furniture'
df_produtos.isnull().sum()

Product ID      0
Category        0
Sub-Category    0
Product Name    0
UnitPrice       0
dtype: int64

In [31]:
#atribuir "Furniture" nos valores nulls da coluna "Category"
df_produtos.loc[df_produtos['Category'].isnull(), 'Category'] = 'Furniture'
df_produtos.isnull().sum()

Product ID      0
Category        0
Sub-Category    0
Product Name    0
UnitPrice       0
dtype: int64

In [32]:
# define the value classes
value_classes = ['Low', 'Medium', 'High']

# calculate the value range of the products
value_range = df_produtos['UnitPrice'].max() - df_produtos['UnitPrice'].min()

# calculate the value range of each class
class_range = value_range / len(value_classes)

# assign the value class to each product
df_produtos['Value Class'] = pd.cut(df_produtos['UnitPrice'], bins=[df_produtos['UnitPrice'].min() + i * class_range for i in range(len(value_classes) + 1)], labels=value_classes)

# show the result
df_produtos.head()

,Product ID,Category,Sub-Category,Product Name,UnitPrice,Value Class
0,FUR-ADV-10000002,Furniture,Furnishings,"Advantus Photo Frame, Duo Pack",53.04,Low
1,FUR-ADV-10000108,Furniture,Furnishings,"Advantus Clock, Erganomic",50.01,Low
2,FUR-ADV-10000183,Furniture,Furnishings,"Advantus Photo Frame, Black",52.98,Low
3,FUR-ADV-10000188,Furniture,Furnishings,"Advantus Stacking Tray, Erganomic",24.99,Low
4,FUR-ADV-10000190,Furniture,Furnishings,"Advantus Frame, Duo Pack",111.18,Low

In [33]:
#exportar df para xlsx no diretorio atual
df.to_excel('Python_Dataset_IADE_Orders.xlsx')

In [ ]:
#exportar df_produtos para xlsx no diretorio atual
df_produtos.to_excel('Python_Dataset_IADE_Products.xlsx')