In [16]:
import pandas as pd

# Path: processamento_dados.ipynb
# Ler arquivo formato xlsx
df1 = pd.read_excel('Dataset_IADE_Orders_21_23.xlsx')
df2 = pd.read_excel('Dataset_IADE_Orders19_20.xlsx')
df_produtos = pd.read_excel('Dataset_IADE_Products.xlsx')
print(df1.shape)
print(df2.shape)
print(df_produtos.shape)

(41265, 20)
(10025, 20)
(10292, 5)

In [17]:
#Juntar os dados das encomendas numa s√≥ tabela
df = pd.concat([df1, df2], ignore_index=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51290 entries, 0 to 51289
Data columns (total 20 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Row ID          51290 non-null  int64
 1   Order ID        51290 non-null  object
 2   Order Date      51290 non-null  datetime64[ns]
 3   Ship Date       51290 non-null  datetime64[ns]
 4   Ship Mode       51290 non-null  object
 5   Customer ID     51290 non-null  object
 6   Customer Name   51281 non-null  object
 7   Segment         51290 non-null  object
 8   City            51290 non-null  object
 9   State           51290 non-null  object
 10  Country         51290 non-null  object
 11  Postal Code     9994 non-null   float64
 12  Market          51290 non-null  object
 13  Region          51290 non-null  object
 14  Product ID      51290 non-null  object
 15  Quantity        51290 non-null  int64
 16  Discount        51290 non-null  float64
 17  Profit          51290 non-null  float64
 18  Shipping Cost   51290 non-null  float64
 19  Order Priority  51285 non-null  object
dtypes: datetime64[ns](2), float64(4), int64(2), object(12)
memory usage: 7.8+ MB

In [18]:
#intendificar colunas com dados nulos ou faltantes
df.isnull().sum()

Row ID                0
Order ID              0
Order Date            0
Ship Date             0
Ship Mode             0
Customer ID           0
Customer Name         9
Segment               0
City                  0
State                 0
Country               0
Postal Code       41296
Market                0
Region                0
Product ID            0
Quantity              0
Discount              0
Profit                0
Shipping Cost         0
Order Priority        5
dtype: int64

In [19]:
#apagar coluna Postal Code de df
df = df.drop(['Postal Code'], axis=1)
df.isnull().sum()

Row ID            0
Order ID          0
Order Date        0
Ship Date         0
Ship Mode         0
Customer ID       0
Customer Name     9
Segment           0
City              0
State             0
Country           0
Market            0
Region            0
Product ID        0
Quantity          0
Discount          0
Profit            0
Shipping Cost     0
Order Priority    5
dtype: int64

In [20]:
#Na coluna Market, subistitua o valor atual para 'Iberian' para paises de Portugal e Spain.
df.loc[df['Country'].isin(['Portugal', 'Spain']), 'Market'] = 'Iberian'

#mostrar dados com Market = Iberian
df[df['Market'] == 'Iberian']

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,City,State,Country,Market,Region,Product ID,Quantity,Discount,Profit,Shipping Cost,Order Priority
8466,10329,ES-2022-4020783,2022-09-24,2022-09-26,Second Class,PN-18775,Parhena Norris,Home Office,Puertollano,Castile-La Mancha,Spain,Iberian,South,OFF-AR-10001228,3,0.0,25.110,4.48,Medium
8480,10349,ES-2023-1324878,2023-05-02,2023-05-07,Standard Class,RR-19315,Ralph Ritter,Consumer,Murcia,Murcia,Spain,Iberian,South,FUR-BO-10003007,7,0.0,196.350,106.08,High
8481,10352,ES-2022-4122424,2022-05-16,2022-05-19,First Class,BE-11335,Bill Eplett,Home Office,Madrid,Madrid,Spain,Iberian,South,OFF-AR-10001230,7,0.0,32.340,62.19,High
8482,10353,ES-2022-4122424,2022-05-16,2022-05-19,First Class,BE-11335,Bill Eplett,Home Office,Madrid,Madrid,Spain,Iberian,South,-TA-10004544,2,0.6,-247.092,53.81,High
8494,10373,ES-2023-3249626,2023-05-09,2023-05-13,Standard Class,SV-20935,Susan Vittorini,Consumer,Sabadell,Catalonia,Spain,Iberian,South,OFF-SU-10004299,2,0.0,18.780,6.78,Medium
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44903,19764,ES-2020-4864498,2020-02-09,2020-02-13,Second Class,BC-11125,Becky Castell,Home Office,Ponferrada,Castile and Le√≥n,Spain,Iberian,South,FUR-CH-10002085,1,0.2,18.894,5.51,Medium
44904,19765,ES-2020-4864498,2020-02-09,2020-02-13,Second Class,BC-11125,Becky Castell,Home Office,Ponferrada,Castile and Le√≥n,Spain,Iberian,South,OFF-AR-10000124,3,0.0,4.230,3.19,Medium
44905,19766,ES-2020-4864498,2020-02-09,2020-02-13,Second Class,BC-11125,Becky Castell,Home Office,Ponferrada,Castile and Le√≥n,Spain,Iberian,South,OFF-BI-10000894,2,0.0,4.800,2.43,Medium
44906,19767,ES-2020-4864498,2020-02-09,2020-02-13,Second Class,BC-11125,Becky Castell,Home Office,Ponferrada,Castile and Le√≥n,Spain,Iberian,South,OFF-BI-10000312,2,0.0,0.960,2.24,Medium
44956,20071,ES-2019-4174897,2019-11-17,2019-11-20,First Class,MD-17860,Michael Dominguez,Corporate,Gandia,Valenciana,Spain,Iberian,South,OFF-FA-10000856,8,0.0,33.360,18.36,Critical

In [21]:
df_produtos.head()

,Product ID,Category,Sub-Category,Product Name,UnitPrice
0,FUR-ADV-10000002,Furniture,Furnishings,"Advantus Photo Frame, Duo Pack",53.04
1,FUR-ADV-10000108,Furniture,Furnishings,"Advantus Clock, Erganomic",50.01
2,FUR-ADV-10000183,Furniture,Furnishings,"Advantus Photo Frame, Black",52.98
3,FUR-ADV-10000188,Furniture,Furnishings,"Advantus Stacking Tray, Erganomic",24.99
4,FUR-ADV-10000190,Furniture,Furnishings,"Advantus Frame, Duo Pack",111.18

In [22]:
#verificar nulls em df_produtos
df_produtos.isnull().sum()

Product ID        0
Category        366
Sub-Category      0
Product Name      0
UnitPrice         0
dtype: int64

In [23]:
#Atribuir valor 'Furniture' a coluna Category onde Sub-Category = 'Tables' e Category = null
df_produtos.loc[(df_produtos['Sub-Category'] == 'Tables') & (df_produtos['Category'].isnull()), 'Category'] = 'Furniture'
df_produtos.isnull().sum()

Product ID      0
Category        0
Sub-Category    0
Product Name    0
UnitPrice       0
dtype: int64

In [24]:
#atribuir "Furniture" nos valores nulls da coluna "Category"
df_produtos.loc[df_produtos['Category'].isnull(), 'Category'] = 'Furniture'
df_produtos.isnull().sum()

Product ID      0
Category        0
Sub-Category    0
Product Name    0
UnitPrice       0
dtype: int64

In [25]:
# define the value classes
value_classes = ['Low', 'Medium', 'High']

# calculate the value range of the products
value_range = df_produtos['UnitPrice'].max() - df_produtos['UnitPrice'].min()

# calculate the value range of each class
class_range = value_range / len(value_classes)

# assign the value class to each product
df_produtos['Value Class'] = pd.cut(df_produtos['UnitPrice'], bins=[df_produtos['UnitPrice'].min() + i * class_range for i in range(len(value_classes) + 1)], labels=value_classes)

# show the result
df_produtos.head()

,Product ID,Category,Sub-Category,Product Name,UnitPrice,Value Class
0,FUR-ADV-10000002,Furniture,Furnishings,"Advantus Photo Frame, Duo Pack",53.04,Low
1,FUR-ADV-10000108,Furniture,Furnishings,"Advantus Clock, Erganomic",50.01,Low
2,FUR-ADV-10000183,Furniture,Furnishings,"Advantus Photo Frame, Black",52.98,Low
3,FUR-ADV-10000188,Furniture,Furnishings,"Advantus Stacking Tray, Erganomic",24.99,Low
4,FUR-ADV-10000190,Furniture,Furnishings,"Advantus Frame, Duo Pack",111.18,Low

In [28]:
df.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,City,State,Country,Market,Region,Product ID,Quantity,Discount,Profit,Shipping Cost,Order Priority
0,1,MX-2023-143658,2023-08-01,2023-08-05,Standard Class,SC-20575,Sonia Cooley,Consumer,Mexico City,Distrito Federal,Mexico,LATAM,North,OFF-LA-10002782,3,0.0,4.56,1.033,Medium
1,2,MX-2021-155047,2021-08-14,2021-08-19,Standard Class,KW-16570,Kelly Williams,Consumer,Dos Quebradas,Risaralda,Colombia,LATAM,South,FUR-FU-10004015,8,0.0,90.72,13.449,Medium
2,3,MX-2021-155047,2021-08-14,2021-08-19,Standard Class,KW-16570,Kelly Williams,Consumer,Dos Quebradas,Risaralda,Colombia,LATAM,South,FUR-BO-10002352,2,0.0,54.08,9.627,Medium
3,4,MX-2021-155047,2021-08-14,2021-08-19,Standard Class,KW-16570,Kelly Williams,Consumer,Dos Quebradas,Risaralda,Colombia,LATAM,South,OFF-BI-10004428,4,0.0,4.96,1.371,Medium
4,5,MX-2021-155047,2021-08-14,2021-08-19,Standard Class,KW-16570,Kelly Williams,Consumer,Dos Quebradas,Risaralda,Colombia,LATAM,South,OFF-AR-10004594,2,0.0,11.44,3.787,Medium

In [26]:
#exportar df para xlsx no diretorio atual
df.to_excel('Python_Dataset_IADE_Orders.xlsx')

In [27]:
#exportar df_produtos para xlsx no diretorio atual
df_produtos.to_excel('Python_Dataset_IADE_Products.xlsx')